<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <title>Amazona</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <button onclick="openMenu()">&#9776;</button>
          <a href="index.html">amazona</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin">Signin</a>
        </div>
      </header>

      <aside class="sidebar">
        <h3>Shopping Categories</h3>
        <button class="sidebar-close-btn" onclick="closeMenu()">
          <i class="fas fa-times"></i>
        </button>
        <ul>
          <li>
            <a href="index.html">Pants</a>
          </li>
          <li>
            <a href="index.html">Shirts</a>
          </li>
        </ul>
      </aside>

      <main class="main">
        <div class="content">
          <ul class="products">
            <li class="product">
              <img class="product-image" src="images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="price">$60</div>
              <div class="product-rating">4.5 stars (10 reviews)</div>
            </li>
            <li class="product">
              <img class="product-image" src="images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="price">$60</div>
              <div class="product-rating">4.5 stars (10 reviews)</div>
            </li>
            <li class="product">
              <img class="product-image" src="images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="price">$60</div>
              <div class="product-rating">4.5 stars (10 reviews)</div>
            </li>
            <li class="product">
              <img class="product-image" src="images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="price">$60</div>
              <div class="product-rating">4.5 stars (10 reviews)</div>
            </li>
          </ul>
        </div>
      </main>

      <footer class="footer">All right reserved</footer>
    </div>
    <script>
      const openMenu = () => {
        document.querySelector(".sidebar").classList.add("open");
      };

      const closeMenu = () => {
        document.querySelector(".sidebar").classList.remove("open");
      };
    </script>
  </body>
</html>
